<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension
         point="fr.obeo.dsl.designer.documentation.generator.documentationRenderer">
      <documentationRenderer
            impl="fr.obeo.dsl.designer.documentation.generator.renderer.website.internal.WebSiteRendererDescriptor">
      </documentationRenderer>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated WebSiteTemplate -->
      <package
            uri="http://DocGen/WebSiteTemplate/1.0"
            class="fr.obeo.dsl.designer.documentation.generator.renderer.website.WebSiteTemplate.WebSiteTemplatePackage"
            genModel="model/WebSiteTemplate.genmodel"/>
   </extension>

</plugin>
