<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="documentationGenerator" name="Documentation Generator" schema="schema/documentationGenerator.exsd"/>
   <extension-point id="documentationRenderer" name="Documentation Renderer" schema="schema/documentationRenderer.exsd"/>
</plugin>
