<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="fr.obeo.dsl.designer.documentation.generator.documentationGenerator">
      <documentationGenerator
            impl="fr.obeo.dsl.designer.documentation.generator.capella.generator.CapellaDocumentationGeneratorDescriptor">
      </documentationGenerator>
   </extension>
   <extension
         point="fr.obeo.dsl.designer.documentation.generator.documentationGenerator">
      <documentationGenerator
            impl="fr.obeo.dsl.designer.documentation.generator.capella.generator.CapellaInterfacesDocumentationGeneratorDescriptor">
      </documentationGenerator>
   </extension>

</plugin>
