<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
       point="org.eclipse.ui.commands">
    <command
          defaultHandler="fr.obeo.dsl.designer.documentation.generator.ui.internal.SiriusDocumentationHandler"
          description="Generates the documentation"
          id="org.obeonetwork.dsl.siruis.documentation.generator"
          name="Generate Documentation">
    </command>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="false"
          locationURI="popup:org.eclipse.ui.popup.any">
       <command
             commandId="org.obeonetwork.dsl.siruis.documentation.generator"
             label="Generates Documentation"
             style="push"
             tooltip="Generates Documentation">
          <visibleWhen
                checkEnabled="false">
             <iterate
                   ifEmpty="false">
                  <or>
                   <adapt
                         type="org.polarsys.capella.core.data.capellacore.CapellaElement">
                   </adapt>
                </or>
                </iterate>
          </visibleWhen>
       </command>
    </menuContribution>
 </extension>
</plugin>
